version: '2'

services:

  mongodb-maps-app:
    container_name: mongodb-maps-app
    image: okode/mongodb-maps
    build: app
    links:
      - 'mongodb-maps-db:db'
    ports:
      - '8080:8080'

  mongodb-maps-db:
    container_name: mongodb-maps-db
    image: mongo
    ports:
      - '27017:27017'
